@import '../../styles/colors.css';

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .circle-button {
    background-color: var(--primary-navy); 
    color: white;
    border: none;
    border-radius: 50%;
    width: 30vw; 
    height: 30vw; 
    font-size: 3vw;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
  }
  
  .circle-button:hover {
    background-color: var(--secondary-navy); 
  }

  /* Media query for smaller screens */
  @media (max-width: 500px) {
    .circle-button {
      width: 150px;
      height: 150px;
      font-size: 15px;
    }
  }