ul.navbar-nav a {
  text-decoration: none;
  margin: 0 10px 0 0;
  color: #000000;
}

ul.navbar-nav a:hover {
  color: lightblue;
}

.logo {
  height: 40px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
}

.navbar-brand {
  display: flex;
  align-items: center; /* Vertically center the logo within the header */
}

@media (max-width: 768px) {
  .logo {
    height: 30px; /* Adjust for smaller screens if needed */
  }
}